{% assign item = page.hero %}
{% case page.name %}
  {% when "about.md" %}
  <section class="s-hero pb-48 sm:pb-56 bg-gradient-default from-purple-500 to-white">
    <div class="max-w-screen-lg mx-auto text-center space-y-16">
      <h1 class="text-gray-900">{{ item.heading | default: page.title | smartify }}</h1>
      {% if item.text_markdown %}
      <div class="max-w-3xl mx-auto text-xl lg:text-2xl">{{ item.text_markdown | default: page.description | markdownify }}</div>
      {% endif %}
    </div>
  </section>
  {% else %}
  <section class="s-hero bg-gradient-default from-purple-500 to-white">
    <div class="max-w-screen-xl mx-auto">
      <div class="max-w-screen-lg space-y-16">
        <h1 class="text-gray-900">{{ item.heading | default: page.title | smartify }}</h1>
        {% if item.text_markdown %}
        <div class="text-xl lg:text-2xl">{{ item.text_markdown | markdownify }}</div>
        {% endif %}
        <div>
          {% for item in item.buttons limit:2 %}
          <a href="{{ item.url }}" class="btn btn-purple-500 btn--large even:btn--outlined">{{ item.text }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endcase %}