<section class="s-lg py-0 -mt-24 sm:-mt-28">
  <div class="max-w-screen-xl mx-auto text-center grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-12">
    {% for item in item.cards %}
    <a href="{{ item.url }}" class="bg-white cd-md rounded-2xl shadow-lg space-y-6">
      <div class="label text-gray-500">{{ item.label }}</div>
      {% if item.logo_path %}
      <div>
        {% responsive_image_block %}
          path: {{ item.logo_path | remove_first: "/" }}
          alt: {{ item.logo_alt }}
          class: "object-contain w-full h-auto max-w-[280px] max-h-24 mx-auto"
          sizes: ""
        {% endresponsive_image_block %}
      </div>
      {% else %}
      <div class="flex flex-row items-center justify-center gap-4">
        <div>
          {% responsive_image_block %}
            path: {{ item.image_path | remove_first: "/" }}
            alt: {{ item.image_alt }}
            class: "object-cover w-16 h-16 rounded-full"
            sizes: ""
          {% endresponsive_image_block %}
        </div>
        <div class="text-xl lg:text-2xl !leading-snug">
          <div>{{ item.heading }}</div>
          <div class="text-gray-500">{{ item.subheading }}</div>
        </div>
      </div>
      {% endif %}
    </a>
    {% endfor %}
  </div>
</section>