---
layout: default
---

{% include partials/shortcodes.html %}

<div class="s-md">
  <div class="max-w-screen-xl mx-auto w-full lg:flex lg:gap-12">
    <nav class="flex-shrink-0 w-60 hidden lg:block">
      <div class="fixed">
        {% for group in docsNavGroups %}
        <div class="label mb-3">{{ group | capitalize }}</div>
        <ol class="mb-6 text-sm">
          {% assign docsNavCurrent = docsNav|where_exp:"item","item.group contains group" %}
          {% for item in docsNavCurrent %}
          <li>
            <a href="{{ item.url }}" class="block py-3 px-6 rounded-md{% if item.url == currentPage %} text-gray-900 bg-gray-cool{% else %} hover:bg-gray-200{% endif %}">{{ item.name | smartify }}</a>
          </li>
          {% endfor %}
        </ol>
        {% endfor %}
      </div>
    </nav>
    <article class="lg:flex-grow">
      <div class="prose">
        <h1>{{ page.title | smartify }}</h1>
        <hr>
        {{content}}
      </div>
    </article>
    <nav class="flex-shrink-0 w-60 text-sm hidden xl:block">
      <div class="fixed">
        <div class="label mb-6">On this page</div>
        {% include partials/toc.html html=content sanitize=true skip_no_ids=true ordered=true class="border-l-2.border-gray-300" item_class="" anchor_class="block.py-1.pl-3.sm:pl-6.-ml-1.border-l-4.border-transparent.hover:border-purple-500.hover:text-purple-500.space-y-4" submenu_class="ml-3.sm:ml-6.border-l-2.border-gray-300" id="my_toc" h_min=2 h_max=3 %}
      </div>
    </nav>
  </div>
</div>
<script src=”https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<!-- for mathjax support -->
{% if page.usemathjax %}
<script type="text/javascript">
  window.MathJax = {
    tex: {
      packages: ['base', 'ams']
    },
    loader: {
      load: ['ui/menu', '[tex]/ams']
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endif %}