@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nm";
  src: url("/assets/fonts/nm-regular.woff2") format("woff2"),
  url("/assets/fonts/nm-regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: "nm";
  src: url("/assets/fonts/nm-italic.woff2") format("woff2"),
  url("/assets/fonts/nm-italic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: "s";
  src: url("/assets/fonts/s-light.woff2") format("woff2"),
  url("/assets/fonts/s-light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
	font-display: swap;
}
@font-face {
  font-family: "s";
  src: url("/assets/fonts/s-lightitalic.woff2") format("woff2"),
  url("/assets/fonts/s-lightitalic.otf") format("otf");
  font-weight: normal;
  font-style: italic;
	font-display: swap;
}
@font-face {
  font-family: "maison";
  src: url("/assets/fonts/maison-mono.woff2") format("woff2"),
  url("/assets/fonts/maison-mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
	font-display: swap;
}
html {
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga";
}
@layer base {
  /* Create default transition */
  .transition-default {
    @apply transition-all duration-300 ease-in-out;
  }
  /* Universal heading styles */
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    @apply mb-6 font-normal font-secondary text-gray-900 leading-snug tracking-tighter;
  }
  /* Individual heading styles */
  h1, .h1 {
    @apply text-5xl font-primary tracking-tight text-purple-500;
  }
  h2, .h2 {
    @apply text-4xl font-primary tracking-tight text-purple-500;
  }
  h3, .h3 {
    @apply text-3xl;
  }
  h4, .h4 {
    @apply text-xl;
  }
  h5, .h5 {
    @apply text-lg;
  }
  @screen lg {
    h1, .h1 {
      @apply text-6xl;
    }
    h2, .h2 {
      @apply text-5xl;
    }
    h3, .h3 {
      @apply text-4xl;
    }
    h4, .h4 {
      @apply text-2xl;
    }
    h5, .h5 {
      @apply text-xl;
    }
  }
  /* Other basic typography settings */
  p {
    @apply mb-5;
  }
  a {
    @apply transition-default;
  }
  strong {
    @apply italic font-normal;
  }
  /* Label styling */
  label, .label {
    @apply tracking-wider uppercase text-sm;
  }
}
@layer components {
  /* Section paddings */
  [class^="s-"], [class*=" s-"] {
    @apply px-5;
  }
  .s-xxs {
    @apply py-2;
  }
  .s-xs {
    @apply py-4;
  }
  .s-sm {
    @apply py-10;
  }
  .s-md {
    @apply py-14;
  }
  .s-lg {
    @apply py-24;
  }
  .s-hero {
    @apply py-24 pt-48;
  }
  /* Section paddings, larger viewports */
  @screen sm {
    [class^="s-"], [class*=" s-"] {
      @apply px-8;
    }
    .s-xxs {
      @apply py-3;
    }
    .s-xs {
      @apply py-6;
    }
    .s-sm {
      @apply py-14;
    }
    .s-md {
      @apply py-20;
    }
    .s-lg {
      @apply py-28;
    }
    .s-hero {
      @apply py-28 pt-56;
    }
  }
  /* Card paddings */
  .cd-xs {
    @apply p-3;
  }
  .cd-sm {
    @apply p-6;
  }
  .cd-md {
    @apply p-8;
  }
  /* Card paddings, larger viewports */
  @screen sm {
    .cd-xs {
      @apply p-4;
    }
    .cd-sm {
      @apply p-6;
    }
    .cd-md {
      @apply p-10;
    }
  }
  /* Buttons */
  .btn {
    @apply text-base cursor-pointer transition-default inline-flex items-center justify-center px-7 py-4 border-2 rounded-xl;
  }
  .btn:focus {
    @apply outline-none border-double border-opacity-100;
  }
  .btn:hover, .btn:active {
    @apply bg-opacity-70;
  }
  .btn-purple-500 {
    @apply bg-purple-500 text-white border-purple-500 bg-opacity-100 border-opacity-0;
  }
  .btn-purple-500:focus {
    @apply border-white;
  }
  .btn-purple-400 {
    @apply bg-purple-400 text-white border-purple-400 bg-opacity-100 border-opacity-0;
  }
  .btn-purple-400:focus {
    @apply border-white;
  }
  .btn-purple-500.btn--outlined, .btn-purple-500.btn--ghost {
    @apply text-purple-500;
  }
  .btn--outlined {
    @apply border-opacity-100 bg-opacity-0;
  }
  .btn--outlined:hover, .btn--outlined:active, .btn--ghost:hover, .btn--ghost:active {
    @apply bg-opacity-10;
  }
  .btn--large {
    @apply px-8 py-4 rounded-3xl text-2xl;
  }
  .btn--ghost {
    @apply px-4 bg-opacity-0 border-opacity-0 border-transparent;
  }
  .btn--disabled {
    @apply pointer-events-none;
  }
  /* Typography for blog posts and prose content */
  .prose h1:not(:first-child),
  .prose h2:not(:first-child),
  .prose h3:not(:first-child),
  .prose h4:not(:first-child),
  .prose h5:not(first-child) {
    @apply mt-10;
  }
  .prose p {
    @apply my-5;
  }
  .prose img:not(.h-full) {
    max-width: 100%;
    width: 100%;
    height: auto;
    @apply transition duration-500 transform;
  }
  .prose img:not(.h-full):hover {
    @apply -translate-y-1;
  }
  .prose figcaption {
    @apply tracking-wider uppercase text-sm text-center mt-5 text-gray-500;
  }
  .prose > figure,
  .prose > p img,
  .prose > div,
  .prose > aside {
    @apply my-12;
  }
  .prose .twitter-tweet {
    @apply !my-12;
  }
  .prose figure p:last-child {
    @apply mb-0;
  }
  .prose >* {
    @apply w-full max-w-4xl mx-auto;
  }
  .prose >*:not(img):not(figure):not(div):not(aside) {
    @apply w-full max-w-2xl mx-auto;
  }
  .prose .twitter-tweet {
    @apply !w-full !max-w-2xl !mx-auto;
  }
  .prose a:not(.btn):not(.footnote-backref):not([id^="fnref"]):not([id*=" fnref"]),
  .link {
    @apply text-purple-400 underline transition-default;
  }
  .prose a:not(.btn):hover,
  .prose a:not(.btn):active,
  .link:hover,
  .link:active {
    @apply text-purple-500;
  }
  .prose h1:not(:first-child),
  .prose h2:not(:first-child),
  .prose h3:not(:first-child),
  .prose h4:not(:first-child),
  .prose h5:not(:first-child) {
    @apply mt-8 mb-5;
  }
  .prose ul,
  .prose ol {
    @apply list-outside my-5;
  }
  .prose li,
  .prose li {
    @apply ml-5 pl-2;
  }
  .prose ul > * + *,
  .prose ol > * + * {
    @apply my-2;
  }
  .prose ul {
    @apply list-square;
  }
  .prose ol {
    @apply list-decimal;
  }
  .prose hr {
    @apply my-10 text-gray-300;
  }
  .prose blockquote {
		@apply pl-4 -ml-4 mb-5 py-1 italic border-l-2 border-gray-300;
	}
  .prose blockquote p:last-of-type {
    @apply mb-0;
  }
  .prose blockquote p:first-of-type {
    @apply mt-0;
  }
}
@layer utilities {
  @screen md {
    .micro-float {
      @apply overflow-hidden transition duration-500 transform;
    }
    .micro-float:hover {
      @apply -translate-y-0.5;
      --tw-translate-y: -3.5px;
    }
  }
  .highlight {
    @apply overflow-scroll bg-gray-200 cd-xs font-mono tracking-tight leading-normal text-base;
  }
  .highlight table {
    @apply -m-4;
  }
  .highlight table td {
    @apply cd-xs;
  }
  .highlight table td.gutter {
    @apply cd-xs text-right bg-gray-200 text-gray-300;
  }
  .highlight table pre { margin: 0; }
  .highlight .cm {
    color: #999988;
    font-style: normal;
  }
  .highlight .cp {
    color: #999999;
    font-weight: normal;
  }
  .highlight .c1 {
    color: #999988;
    font-style: normal;
  }
  .highlight .cs {
    color: #999999;
    font-weight: normal;
    font-style: normal;
  }
  .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
    color: #999988;
    font-style: normal;
  }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd;
  }
  .highlight .ge {
    color: #000000;
    font-style: normal;
  }
  .highlight .gr {
    color: #aa0000;
  }
  .highlight .gh {
    color: #999999;
  }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd;
  }
  .highlight .go {
    color: #888888;
  }
  .highlight .gp {
    color: #555555;
  }
  .highlight .gs {
    font-weight: normal;
  }
  .highlight .gu {
    color: #aaaaaa;
  }
  .highlight .gt {
    color: #aa0000;
  }
  .highlight .kc {
    color: #000000;
    font-weight: normal;
  }
  .highlight .kd {
    color: #000000;
    font-weight: normal;
  }
  .highlight .kn {
    color: #000000;
    font-weight: normal;
  }
  .highlight .kp {
    color: #000000;
    font-weight: normal;
  }
  .highlight .kr {
    color: #000000;
    font-weight: normal;
  }
  .highlight .kt {
    color: #445588;
    font-weight: normal;
  }
  .highlight .k, .highlight .kv {
    color: #000000;
    font-weight: normal;
  }
  .highlight .mf {
    color: #009999;
  }
  .highlight .mh {
    color: #009999;
  }
  .highlight .il {
    color: #009999;
  }
  .highlight .mi {
    color: #009999;
  }
  .highlight .mo {
    color: #009999;
  }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: #009999;
  }
  .highlight .sb {
    color: #d14;
  }
  .highlight .sc {
    color: #d14;
  }
  .highlight .sd {
    color: #d14;
  }
  .highlight .s2 {
    color: #d14;
  }
  .highlight .se {
    color: #d14;
  }
  .highlight .sh {
    color: #d14;
  }
  .highlight .si {
    color: #d14;
  }
  .highlight .sx {
    color: #d14;
  }
  .highlight .sr {
    color: #009926;
  }
  .highlight .s1 {
    color: #d14;
  }
  .highlight .ss {
    color: #990073;
  }
  .highlight .s, .highlight .sa, .highlight .dl {
    color: #d14;
  }
  .highlight .na {
    color: #008080;
  }
  .highlight .bp {
    color: #999999;
  }
  .highlight .nb {
    color: #0086B3;
  }
  .highlight .nc {
    color: #445588;
    font-weight: normal;
  }
  .highlight .no {
    color: #008080;
  }
  .highlight .nd {
    color: #3c5d5d;
    font-weight: normal;
  }
  .highlight .ni {
    color: #800080;
  }
  .highlight .ne {
    color: #990000;
    font-weight: normal;
  }
  .highlight .nf, .highlight .fm {
    color: #990000;
    font-weight: normal;
  }
  .highlight .nl {
    color: #990000;
    font-weight: normal;
  }
  .highlight .nn {
    color: #555555;
  }
  .highlight .nt {
    color: #000080;
  }
  .highlight .vc {
    color: #008080;
  }
  .highlight .vg {
    color: #008080;
  }
  .highlight .vi {
    color: #008080;
  }
  .highlight .nv, .highlight .vm {
    color: #008080;
  }
  .highlight .ow {
    color: #000000;
    font-weight: normal;
  }
  .highlight .o {
    color: #000000;
    font-weight: normal;
  }
  .highlight .w {
    color: #bbbbbb;
  }
}