<footer class="bg-gray-100 text-gray-700 text-lg">
  <section class="s-sm">
    <div class="max-w-screen-xl mx-auto flex flex-col space-y-8 items-start justify-between lg:flex-row lg:space-y-0">
        <div class="space-y-4 max-w-md mx-auto ml-0">
          <a href="/" aria-label="Home page" class="inline-block text-green-500">{% include icons/logo.svg class="h-6 md:h-8 w-auto" %}</a>
          <div>{{settings.footer_markdown|markdownify}}</div>
        </div>
        <nav class="max-w-md flex flex-wrap gap-10 md:gap-20 md:justify-start" aria-label="Footer">
          {% for group in footerNavGroups %}
            <div class="flex flex-col space-y-4">
              <div class="label text-gray-900">{{ group | capitalize }}</div>
              {% assign footerNavCurrent = footerNav|where_exp:"item","item.group contains group" %}
              {% for item in footerNavCurrent %}
              <a href="{{item.url}}" class="inline-block hover:text-gray-900 focus:outline-none focus:text-green-500">{{item.name}}</a>
              {% endfor %}
            </div>
          {% endfor %}
        </nav>
    </div>
  </section>
  <section class="s-xs mt-6">
    <div class="max-w-screen-xl mx-auto flex flex-col space-y-2 text-center md:text-left md:space-y-0 md:flex-row md:justify-between">
      <div>© {{ "now"|date:"%Y" }}, {{ site.data.global_settings.site.title }}. All rights reserved.</div>
      <nav class="flex divide-x divide-gray-500 divide-opacity-25 justify-center md:text-right md:justify-end" aria-label="Subfooter">
        {% for item in subfooterNav %}
          <a href="{{item.url}}" class="flex-none px-5 first:pl-0 last:pr-0 hover:text-gray-900 focus:outline-none focus:text-green-500">{{item.name}}</a>
        {% endfor %}
      </nav>
    </div>
  </section>
</footer>