{% case include.type %}
{% when "partner" %}
<div class="cd-md pl-0 pt-0">
  <div>
  {% responsive_image_block %}
    path: {{item.image|remove_first: "/"}}
    alt: {{item.title}}
    class: "object-cover w-1/2 h-auto rounded-full mb-8"
    sizes: ""
  {% endresponsive_image_block %}
  </div>
  <h3>{{item.title|smartify}}</h3>
  <div class="text-lg lg:text-xl !leading-snug">{{item.text_markdown|markdownify}}</div>
  <a href="{{item.link.url}}" class="hover:underline">{{item.link.text|smartify}}</a>
</div>
{% else %}
<div class="bg-white cd-md w-full rounded-2xl shadow-lg first:row-start-1 row-start-2">
  <h3>{{ item.heading | smartify }}</h3>
  <div class="text-gray-500">{{ item.text_markdown | markdownify }}</div>
</div>
{% endcase %}